@charset "utf-8";
@import url("./fonts.css");

/* agent style 초기화 */
html,body,figure{
	margin: 0;
	padding: 0;
}

html{
  font-size: 0.625rem;
}
body{
  background: #fff;
  font-size: 1em;
  font-family: "VarelaRound Regular";
}
.ft-serif-italic{
  font-family: "PT Serif Italic";
}
.ft-oswald-bold{
  font-family: "Oswald Bold";
}
.wrapper{
  margin: 0 auto;
  padding-top: 80px;
  width: 960px;
}
.header,
.main-contents01{
  width: 720px;
  margin:0 auto;
  over
}
.header-info{
  overflow: hidden;
}
/* 헤드 영역 */
.header-info span{
  font-size: 1rem;
  line-height: 1rem;    
}
.header-info .logo,
.header-info .date{
  display: block;
  float: left;
} 
.header-info .logo{
  color: #1f4ba5;
}
.header-info .date{
  margin-left: 3rem;
  color: #c1c1c1;
  letter-spacing: 0.1rem;
}
.header-info .author{
  float: right;
  color: #868686;
}
.header-info .author>em{
  font-style: normal;
  letter-spacing: 0.1rem;
}
.header-title{
  margin: 3rem 0 0 0;
  width: 48rem;
  height: 15rem;
  font-size: 4.8rem;
}
.header-describe{
  position: relative;
  margin: 5rem 0 0 0;
  width: 57rem;
  color: #868686;
  font-size: 2.4rem;
}
.side-bookmark{
  display: block;
  position: absolute;
  top: 0.9rem;
  left: -3rem;
  width: 13px;
  height: 15px;
  background: url("../images/icon/icon-bookmark.png") no-repeat;
  text-indent: -9999px;
}
.wide-image{
  position: relative;
  left: -120px;
  margin-top: 5rem;
  width: 960px;
}
.wide-image figcaption{
  margin: 3rem 0 0 12rem;
  color: #b8b8b8;
  font-size: 1.2rem;
}
.main-contents01-describe{
  margin-top: 5rem;
  width: 60rem;
  color: #9e9e9e;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.wide-image-list-carousel{
  position: relative;
  left: -120px;
  margin-top: 6rem;
  width: 960px;
}
.wide-image-list-carousel ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.wide-image-list-carousel li{
  float: left;
}
.wide-image-list-carousel li{
  float: left;
}
.wide-image-list-carousel figure{
  width: 240px;
}
.wide-image-list-carousel figcaption{
  margin-top: 2rem;
  color: #b8b8b8;
  font-size: 1.2rem;
  text-align: center;
}



.wide-image-list-control{
  margin-left: 120px;
}

.footer{
  position: absolute;
  top: 2000px
}