.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 1
  &>*:not(nav)
    float: left
  .logo
    margin:
      top: px2per(12, 750)
      left: px2per(32, 750)
    +fontello('\e800', 3.4rem)
    &.menu-on
      +fontello('\e800', 3.4rem, #000)
      position: relative
      z-index: 999
  .site
    display: none
  .btn-hambuger
    margin:
      top: px2per(33, 750)
      left: px2per(635, 750)
    +fontello('\e801', 2.3rem)
    &.menu-on
      +fontello('\e802', 3rem, #000)
      position: relative
      z-index: 999
  nav
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 99
    animation: 0.1s show-top-menu
    +keyframes(show-top-menu)
      0%
        height: 0
      100%
        height: rwd-px2vw(600, m)
    background: #fff
    ul
      margin-top: px2per(143, 750)
    li
      margin-bottom: px2per(74, 750)
      text-align: center
    a
      +font('Aileron Light', 2.8rem) 
      color: #18191a
      &.on 
        color: $nav-active-color
    &.on
      display: block
.carousel
  position: relative
  width: 100%
  .slide img
    width: 100%
    height: auto
    vertical-align: bottom
  .slide-title
    position: absolute
    top: px2per(250, 799)
    left: px2per(88, 750)
    margin:
      top: 0
      right: px2per(88, 750)
    color: #fff
    font-size: 6.8rem
    letter-spacing: rwd-px2vw(-1, m)
    line-height: 1.2
    p
      margin: 0
      +fontello('\e803', 2.3rem)
      &::after
        margin-left: px2per(25, 750)
        vertical-align: middle
  ul
    display: none
    position: absolute
    top: 0
    left: 0
    li
      float: left
      border-top: 2px solid #fff
      width: 33.333334%
      color: #fff
      &.on
        border-color: $nav-active-color
        *
          color: $nav-active-color
      p  
        +font('Aileron Bold', 1.6rem)
      span  
        +font('Aileron Light', 1.4rem)

@media only screen and (min-width: $common-screen-max-width-m + 1) and (max-width: $common-screen-max-width-t)
  .header
    height: rwd-px2vw(86, t)
    .logo
      margin:
        top: px2per(18, 1024)
        left: px2per(44, 1024)
    .btn-hambuger
      display: none
    nav
      display: block
      top: px2per(30, 86)
      left: px2per(526, 1024)
      width: px2per(450, 1024)
      height: initial
      background: transparent
      ul
        margin-top: 0
      li
        float: left
        margin-right: px2per(58, 450)
        margin-bottom: 0
        text-align: center
      a
        +font('Aileron Light', 1.8rem) 
        color: #fff
  &.top-fix
    background: #fff
    position: fixed
    top: 0
    left: 0
    animation: 0.2s show-top-menu
    +keyframes(show-top-menu)
      0%
        height: 0
      100%
        height: rwd-px2vw(86, t)
    .logo      
      +fontello('\e800', 3.4rem, #000)
    nav a
      color: #000
  .carousel
    .slide-title
      top: px2per(173, 680)
      left: px2per(105, 1024)
      margin:
        right: px2per(88, 1024)
      color: #fff
      font-size: 6rem
      letter-spacing: rwd-px2vw(0.2, t)
      p::after
        margin-left: px2per(32, 1024)
    ul
      display: block
      top: px2per(500, 680)
      left: px2per(112, 1024)
      width: px2per(800, 1024)
      li p
        margin:
          top: px2per(31, 266)
          bottom: px2per(10, 266)
@media only screen and (min-width: $common-screen-max-width-t + 1)
  .header
    height: rwd-px2vw(86, d)
    .logo
      margin:
        top: px2per(36, 1920)
        left: px2per(68, 1920)
    .site
      display: block
      margin:
        top: px2per(48, 1920)
        left: px2per(68, 1920)
      font-size: 1.8rem
    .btn-hambuger
      display: none
    nav
      display: block
      top: px2per(42, 86)
      left: px2per(1370, 1920)
      width: px2per(450, 1920)
      height: initial
      background: transparent
      ul
        margin-top: 0
      li
        float: left
        margin-right: px2per(56, 450)
        margin-bottom: 0
        text-align: center
      a
        +font('Aileron Light', 1.8rem)
        color: #fff
  &.top-fix
    background: #fff
    position: fixed
    top: 0
    left: 0
    animation: 0.2s show-top-menu
    +keyframes(show-top-menu)
      0%
        height: 0
      100%
        height: rwd-px2vw(86, d)
    .logo
      margin-top: px2per(18, 1920)  
      +fontello('\e800', 3.4rem, #000)
    .site, nav a
      margin-top: px2per(30, 1920) 
      color: #000
    nav
      top: px2per(30, 86) 
  .carousel
    .slide-title
      top: px2per(325, 980)
      left: px2per(167, 1920)
      margin:
        right: px2per(300, 1920)
      color: #fff
      font-size: 8rem
      letter-spacing: rwd-px2vw(-0.6, d)
      p::after
        margin-left: px2per(32, 1920)
    ul
      display: block
      top: px2per(766, 980)
      left: px2per(160, 1920)
      width: px2per(1600, 1920)
      li p
        margin:
          top: px2per(25, 533)
          bottom: px2per(10, 533)