.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: rwd-px2vw(799, m)
  z-index: 1
  &>*:not(nav)
    float: left
  .logo
    margin:
      top: px2per(12, 750)
      left: px2per(32, 750)
    +fontello('\e800', 3.4rem)
    &.menu-on
      +fontello('\e800', 3.4rem, #000)
      position: relative
      z-index: 99
  .site
    display: none
  .btn-hambuger
    margin:
      top: px2per(33, 750)
      left: px2per(635, 750)
    +fontello('\e801', 2.3rem)
    &.menu-on
      +fontello('\e802', 3rem, #000)
      position: relative
      z-index: 99
  nav
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: px2per(600, 799)
    background: #fff
    ul
      margin-top: px2per(143, 750)
    li
      margin-bottom: px2per(74, 750)
      text-align: center
    a
      +font('Aileron Light', 2.8rem) 
      color: #18191a
      &.on 
        color: $nav-active-color
    &.on
      display: block
.carousel
  position: relative
  width: 100%
  height: rwd-px2vw(799, m)
  .slide
    img
      width: 100%
      height: auto
      vertical-align: bottom
  .slide-title
    position: absolute
    top: px2per(250, 799)
    left: px2per(88, 750)
    z-index: 99
    margin:
      top: 0
      right: px2per(88, 750)
    color: #fff
    font-size: 6.8rem
    letter-spacing: rwd-px2vw(-1, m)
    line-height: 1.2
    p
      margin: 0
      +fontello('\e803', 2.3rem)
      &::after
        margin-left: px2per(25, 750)
        vertical-align: middle
  ul
    display: none
@media only screen and (min-width: $common-screen-max-width-m + 1) and (max-width: $common-screen-max-width-t)
  .header
    .logo
      top: px2per(26, 680)
      left: px2per(44, 1024)
    .btn-hambuger
      display: none
    .carousel
      display: block
      position: absolute
      bottom: px2per(90, 680)
      left: px2per(112, 1024)
      width: px2per(800, 1024)
      height: px2per(80, 680)
      li
        float: left
        border-top: 2px solid #fff
        width: 33.333334%
        color: #fff
        &.on
          border-color: $nav-active-color
          *
            color: $nav-active-color
        p
          margin:
            top: px2per(35, 266)
            bottom: px2per(15, 266)
          +font('Aileron Bold', 1.6rem)
        span  
          +font('Aileron Light', 1.4rem)
    .slide-title
      top: px2per(175, 680)
      left: px2per(112, 1024)
      margin-right: px2per(107, 1024)
      font-size: 6rem
      letter-spacing: rwd-px2vw(-0.5, t)
      &::after
        margin-left: px2per(37, 1024)
    .gnb
      position: absolute
      top: px2per(35, 680)
      left: px2per(526, 1024)
      width: 100%
      height: initial
      background: transparent
      display: block
      ul
        margin-top: initial
      li
        float: left
        margin-right: px2per(56, 1024)
        margin-bottom: initial
        text-align: center
      a
        font-size: 1.8rem
        color: #fff
@media only screen and (min-width: $common-screen-max-width-t + 1)
  .header
    .logo
      top: px2per(36, 980)
      left: px2per(68, 1920)
    .site
      display: block
      position: absolute
      top: px2per(48, 980)
      left: px2per(160, 1920)
      font-size: 1.8rem
    .btn-hambuger
      display: none
    .carousel
      display: block
      position: absolute
      bottom: px2per(125, 980)
      left: px2per(160, 1920)
      width: px2per(1600, 1920)
      height: px2per(80, 980)
      li
        float: left
        border-top: 2px solid #fff
        width: 33.333334%
        color: #fff
        &.on
          border-color: $nav-active-color
          *
            color: $nav-active-color
        p
          margin:
            top: px2per(30, 528)
            bottom: px2per(7, 528)
          +font('Aileron Bold', 1.6rem)
        span  
          +font('Aileron Light', 1.4rem)
    .slide-title
      top: px2per(327, 980)
      left: px2per(160, 1920)
      font-size: 8rem
      letter-spacing: rwd-px2vw(-0.5, d)
      p::after
        margin-left: px2per(37, 1920)
    .gnb
      position: absolute
      top: px2per(47, 980)
      left: px2per(1372, 1920)
      width: 100%
      height: initial
      background: transparent
      display: block
      ul
        margin-top: initial
      li
        float: left
        margin-right: px2per(56, 1920)
        margin-bottom: initial
        text-align: center
      a
        font-size: 1.8rem
        color: #fff