/*! grid-system-fluid.css © yamoo9.net, 2016 */

/**
 *  페이지 폭: 1380px
 *  컬럼 개수: 12
 *  컬럼 폭: 87px
 *  거터 폭: (14*2) = 28px
 */

/**
 * ----------------------------------------------------------------
 * 유동(Liquid, Fluid) 그리드
 * ---------------------------------------------------------------- */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container[class*="show-"] {
  position: relative;
}
.container[class*="show-"]::before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  min-height: 100vh;
  width: 100%;
}
.container.show-grid::before {
  background: linear-gradient(transparent 9px, #33ebe2 9px), linear-gradient(90deg, transparent 12.173913043478262%, hsla(163, 64%, 49%, 0.2) 12.173913043478262%, hsla(163, 64%, 49%, 0.2) 87.82608695652175%, transparent 87.82608695652175%);
  background-size: 1px 10px, 8.333333333333332% 1px;
}
.container.show-columns::before {
  background: linear-gradient(90deg, transparent 12.173913043478262%, hsla(163, 64%, 49%, 0.2) 12.173913043478262%, hsla(163, 64%, 49%, 0.2) 87.82608695652175%, transparent 87.82608695652175%);
  background-size: 8.333333333333332% 1px;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

[class*="col-"] {
	float: left;
  margin-left: 1.0144927536231882%;  
  margin-right: 1.0144927536231882%;  
}
.col-1  { width: 6.304347826086956%;  }
.col-2  { width: 14.637681159420291%; }
.col-3  { width: 22.97101449275362%;  }
.col-4  { width: 31.30434782608696%;  }
.col-5  { width: 39.63768115942029%;  }
.col-6  { width: 47.971014492753625%; }
.col-7  { width: 56.30434782608695%;  }
.col-8  { width: 64.6376811594203%;   }
.col-9  { width: 72.97101449275362%;  }
.col-10 { width: 81.30434782608695%;  }
.col-11 { width: 89.6376811594203%;   }
.col-12 { width: 97.97101449275362%;  }

.push-1  { left: 8.333333333333332%;  }
.push-2  { left: 16.666666666666664%; }
.push-3  { left: 25%;                 }
.push-4  { left: 33.33333333333333%;  }
.push-5  { left: 41.66666666666667%;  }
.push-6  { left: 50%;                 }
.push-7  { left: 58.333333333333336%; }
.push-8  { left: 66.66666666666666%;  }
.push-9  { left: 75%;                 }
.push-10 { left: 83.33333333333334%;  }
.push-11 { left: 91.66666666666666%;  }
.push-12 { left: 100%;                }

.pull-1  { right: 8.333333333333332%;  }
.pull-2  { right: 16.666666666666664%; }
.pull-3  { right: 25%;                 }
.pull-4  { right: 33.33333333333333%;  }
.pull-5  { right: 41.66666666666667%;  }
.pull-6  { right: 50%;                 }
.pull-7  { right: 58.333333333333336%; }
.pull-8  { right: 66.66666666666666%;  }
.pull-9  { right: 75%;                 }
.pull-10 { right: 83.33333333333334%;  }
.pull-11 { right: 91.66666666666666%;  }
.pull-12 { right: 100%;                }

.prefix-1  { margin-left: 9.347826086956522%;  }
.prefix-2  { margin-left: 17.681159420289855%; }
.prefix-3  { margin-left: 26.014492753623188%; }
.prefix-4  { margin-left: 34.34782608695652%;  }
.prefix-5  { margin-left: 42.68115942028985%;  }
.prefix-6  { margin-left: 51.01449275362319%;  }
.prefix-7  { margin-left: 59.34782608695652%;  }
.prefix-8  { margin-left: 67.68115942028986%;  }
.prefix-9  { margin-left: 76.01449275362319%;  }
.prefix-10 { margin-left: 84.34782608695653%;  }
.prefix-11 { margin-left: 92.68115942028986%;  }
.prefix-12 { margin-left: 101.0144927536232%;  }

.suffix-1  { margin-right: 9.347826086956522%;  }
.suffix-2  { margin-right: 17.681159420289855%; }
.suffix-3  { margin-right: 26.014492753623188%; }
.suffix-4  { margin-right: 34.34782608695652%;  }
.suffix-5  { margin-right: 42.68115942028985%;  }
.suffix-6  { margin-right: 51.01449275362319%;  }
.suffix-7  { margin-right: 59.34782608695652%;  }
.suffix-8  { margin-right: 67.68115942028986%;  }
.suffix-9  { margin-right: 76.01449275362319%;  }
.suffix-10 { margin-right: 84.34782608695653%;  }
.suffix-11 { margin-right: 92.68115942028986%;  }
.suffix-12 { margin-right: 101.0144927536232%;  }

.row.isolate .order-1,
.row.isolate .o1 { margin-left: 1.0144927536231882%; }
.row.isolate .order-2,
.row.isolate .o2 { margin-left: 9.347826086956522%;  }
.row.isolate .order-3,
.row.isolate .o3 { margin-left: 17.681159420289855%; }
.row.isolate .order-4,
.row.isolate .o4 { margin-left: 26.014492753623188%; }
.row.isolate .order-5,
.row.isolate .o5 { margin-left: 34.34782608695652%;  }
.row.isolate .order-6,
.row.isolate .o6 { margin-left: 42.68115942028985%;  }
.row.isolate .order-7,
.row.isolate .o7 { margin-left: 51.01449275362319%;  }
.row.isolate .order-8,
.row.isolate .o8 { margin-left: 59.34782608695652%;  }
.row.isolate .order-9,
.row.isolate .o9 { margin-left: 67.68115942028986%;  }
.row.isolate .order-10,
.row.isolate .o10 { margin-left: 76.01449275362319%; }
.row.isolate .order-11,
.row.isolate .o11 { margin-left: 84.34782608695653%; }
.row.isolate .order-12,
.row.isolate .o12 { margin-left: 92.68115942028986%; }