/*
		모바일을 우선(콘텐츠 중심)한 디자인에 활용할 레이아웃 모듈 제작
		그리드 시스템을 반영하여 각 모듈을 구성
 */


/*
		유연한 그리드 시스템(Flexible Grid System)

		그리드 시스템 모듈

		row(grid)
		col(cell)
		gutters | gutter-before | gutter-after
		gutterless
 */

/*	container  , IE9+  */
.container {
	margin-left: auto;
	margin-right: auto;
}
.container[class*="show-"] {
	position: relative;
}
.container[class*="show-"]::before {
	content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
}
.container.show-grid::before {
	background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.6) 50%, hsla(356, 95%, 68%, 0.6) 50%);
	background-size: 50% 1px;
}
.container.show-baseline::before {
	background: linear-gradient(transparent 9px, #33ebe2 9px);
  background-size: 1px 10px;
}
.row::after,
.grid::after {
	content: '';
	display: block;
	clear: both;
}

.column,
.cell {
	box-sizing: border-box;
	float: left;
	/* display: inline-block; */
}
[dir="rtl"] .column,
[dir="rtl"] .cell {
	float: right;
}

/*  모바일, 4 컬럼 레이아웃 모듈 	*/
/*	0 ~ 767px							*/
.m1-2,
.m2-4 { width: 50%; }
.m1-3 { width: 33.33333333%; }
.m2-3 { width: 66.66666666%; }
.m1-4 { width: 25%; }
.m3-4 { width: 75%; }

.m-full { width: 100%; }

/*  태블릿, 8 컬럼 레이아웃 모듈 	*/
/*  768px ~ 1024px 				*/
@media only screen and (min-width: 768px) {
.container.show-grid::before {
	background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.6) 50%, hsla(356, 95%, 68%, 0.6) 50%);
	background-size: 25% 1px;
}
	.t1-2,
	.t2-4,
	.t3-6,
	.t4-8 { width: 50%; }
	.t1-3,
	.t2-6 { width: 33.33333333%; }
	.t2-3,
	.t4-6 { width: 66.66666666%; }
	.t1-4,
	.t2-8 { width: 25%; }
	.t3-4,
	.t6-8 { width: 75%; }
	.t1-5 { width: 20%; }
	.t2-5 { width: 40%; }
	.t3-5 { width: 60%; }
	.t4-5 { width: 80%; }
	.t1-6 { width: 16.666666666666664%; }
	.t5-6 { width: 83.33333333333334%; }
	.t1-7 { width: 14.285714285714285%; }
	.t2-7 { width: 28.57142857142857%; }
	.t3-7 { width: 42.857142857142854%; }
	.t4-7 { width: 57.14285714285714%; }
	.t5-7 { width: 71.42857142857143%; }
	.t6-7 { width: 85.71428571428571%; }
	.t1-8 { width: 12.5%; }
	.t3-8 { width: 37.5%; }
	.t5-8 { width: 62.5%; }
	.t7-8 { width: 87.5%; }

  .t-full {
    width: 100%;
  }

}


/*  데스크탑, 12 컬럼 레이아웃 모듈 	*/
/*  1025px ~  				*/
@media only screen and (min-width: 1025px) and (max-width: 3000px) {
.container.show-grid::before {
	background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.6) 50%, hsla(356, 95%, 68%, 0.6) 50%);
	background-size: 16.666666664% 1px;
}
	.d1-2,
	.d2-4,
	.d3-6,
	.d4-8,
	.d5-10,
	.d6-12{ width: 50%; }
	.d1-3,
	.d2-6,
	.d3-9,
	.d4-12{ width: 33.33333333%; }
	.d2-3,
	.d4-6,
	.d6-9,
	.d8-11{ width: 66.66666666%; }
	.d1-4,
	.d2-8,
	.d3-12{ width: 25%; }
	.d3-4,
	.d6-8,
	.d9-12{ width: 75%; }
	.d1-5,
	.d2-10{ width: 20%; }
	.d2-5,
	.d4-10{ width: 40%; }
	.d3-5,
	.d6-10{ width: 60%; }
	.d4-5,
	.d8-10{ width: 80%; }
	.d1-6,
	.d2-12{ width: 16.666666666666664%; }
	.d5-6,
	.d10-12{ width: 83.33333333333334%; }
	.d1-7 { width: 14.285714285714285%; }
	.d2-7 { width: 28.57142857142857%; }
	.d3-7 { width: 42.857142857142854%; }
	.d4-7 { width: 57.14285714285714%; }
	.d5-7 { width: 71.42857142857143%; }
	.d6-7 { width: 85.71428571428571%; }
	.d1-8 { width: 12.5%; }
	.d3-8 { width: 37.5%; }
	.d5-8 { width: 62.5%; }
	.d7-8 { width: 87.5%; }
	.d1-9 { width: 11.11111111111111%; }
	.d2-9 { width: 22.22222222222222%; }
	.d4-9 { width: 44.44444444444444%; }
	.d5-9 { width: 55.55555555555555%; }
	.d7-9 { width: 77.77777777777779%; }
	.d8-9 { width: 88.88888888888889%; }
	.d1-10 { width: 10%; }
	.d3-10 { width: 30%; }
	.d7-10 { width: 70%; }
	.d9-10 { width: 90%; }
	.d1-11 { width: 9.090909090909092%; }
	.d2-11 { width: 18.181818181818183%; }
	.d3-11 { width: 27.27272727272727%; }
	.d4-11 { width: 36.36363636363637%; }
	.d5-11 { width: 45.45454545454545%; }
	.d6-11 { width: 54.54545454545454%; }
	.d7-11 { width: 58.333333333333336%; }
	.d8-11 { width: 72.72727272727273%; }
	.d9-11 { width: 81.81818181818183%; }
	.d10-11 { width: 90.9090909090909%; }
	.d1-12 { width: 8.333333333333332%; } 
	.d5-12 { width: 41.66666666666667%; } 
	.d11-12 { width: 91.66666666666666%; } 

  .d-full {
    width: 100%;
  }
}

/*  			유틸리티 모듈				*/
/*	 push  |  pull				*/
[class*="m-push--"],
[class*="m-pull--"] {
	position: relative;
}
.m-push--1-2,
.m-push--2-4 { left: 50%; }
.m-push--1-3 { left: 33.333333333333%; }
.m-push--2-3 { left: 66.666666666666%; }
.m-push--1-4 { left: 25%; }
.m-push--3-4 { left: 75%; }
.m-pull--1-2,
.m-pull--2-4 { right: 50%; }
.m-pull--1-3 { right: 33.333333333333%; }
.m-pull--2-3 { right: 66.666666666666%; }
.m-pull--1-4 { right: 25%; }
.m-pull--3-4 { right: 75%; }

/*	 prefix  |  suffix				*/
[class*="m-pre--"],
[class*="m-suf--"] {

}
.m-prefix--1-2,
.m-prefix--2-4 { margin-left: 50%; }
.m-prefix--1-3 { margin-left: 33.333333333333%; }
.m-prefix--2-3 { margin-left: 66.666666666666%; }
.m-prefix--1-4 { margin-left: 25%; }
.m-prefix--3-4 { margin-left: 75%; }
.m-suffix--1-2,
.m-suffix--2-4 { margin-right: 50%; }
.m-suffix--1-3 { margin-right: 33.333333333333%; }
.m-suffix--2-3 { margin-right: 66.666666666666%; }
.m-suffix--1-4 { margin-right: 25%; }
.m-suffix--3-4 { margin-right: 75%; }

/*	 isolate			*/
.isolate.m-order--1-4 {
	
}



@media only screen and (min-width: 768px) {
	.prefix-1 {
		position: relative;
		left: 12.5%;
	}
}

