/*! flex-grid-system.css © yamoo9.net, 2016 */

/**
 * --------------------------------
 * grid-container 모듈
 * ----------------------------- */
.grid-container {
  margin-left: auto;
  margin-right: auto;
}

/**
 * --------------------------------
 * grid 모듈
 * ----------------------------- */
.grid {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 750px;
  height: 200vw;
}

/* 거터 모듈 */
.grid-gutters .cell { margin: 0 10px; }


/* 정가운데 정렬 모듈 */
.grid-center-middle,
.grid-cm {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * --------------------------------
 * cell 모듈
 * ----------------------------- */
.cell {
  box-sizing: border-box;
  /* 1 1 auto */
  flex: 1;
}

/* cell 크기 개별 적용 모듈 */
.cell-m-1-2,
.cell-m-2-4 { flex: 0 0 50%;      }
.cell-m-1-3 { flex: 0 0 33.3333%; }
.cell-m-2-3 { flex: 0 0 66.6666%; }
.cell-m-1-4 { flex: 0 0 25%;      }
.cell-m-3-4 { flex: 0 0 75%;      }
.cell-m-hide { display: none; }

/* cell 개별 정렬 모듈 */
.cell-top      { align-self: flex-start; }
.cell-center   { align-self: center;     }
.cell-bottom   { align-self: flex-end;   }
.cell-baseline { align-self: baseline;   }
.cell-stretch  { align-self: stretch;    }

/**
 * --------------------------------
 * 반응형 레이아웃
 * ----------------------------- */
@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .cell-t-1-2,
  .cell-t-2-4 { flex: 0 0 1024px; }
  .cell-t-1-4 { flex: 0 0 512px; }
  .cell-t-hide { display: none; }

  .grid {
    width: 1024px;
    height: 2048px; 
  }
}

@media only screen and (min-width: 1025px) {
  .cell-d-1-2,
  .cell-d-2-4 { flex: 0 0 960px; }
  .cell-d-1-4 { flex: 0 0 480px; }
  .cell-d-show { display: block; }

  .grid {
    width: 1920px;
    height: 1440px; 
  }

  .d-o1 { order: 1; }
  .d-o2 { order: 2; }
  .d-o3 { order: 3; }
  .d-o4 { order: 4; }
  .d-o5 { order: 5; }
  .d-o6 { order: 6; }
  .d-o7 { order: 7; }
  .d-o8 { order: 8; }
}