@mixin border-radius ($radius: 4px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin background-origin ($origin: padding-box) {
	-webkit-background-origin: $origin;
	-moz-background-origin: $origin;
	background-origin: $origin;
}

@mixin background-clip ($clip: padding-box) {
	-webkit-background-clip: $clip;
	-moz-background-clip: $clip;
	background-clip: $clip;
}

@mixin circle ($diameter: 100px, $bg-color: #000) {
	width: $diameter;
	height: $diameter;
	background: $bg-color;
	@include border-radius($diameter/2);
	@include background-clip;
}

