=rwd-bg($url, $width, $height)
  background: url($url) no-repeat center
    size: cover
  padding-bottom: ($height/$width*100) + %

=fontello($code, $size: 1rem, $color: #fff)
  &::after
    content: $code
    color: $color
    font:
      family: 'fontello'
      size: $size

=font($family: 'Aileron Regular', $size: 1rem)
  font:
    family: $family
    size: $size
    
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

@function px2per($x, $y)
  @return ($x/$y) * 100 + %

@function rwd-px2vw($px, $type: m)
  $base-width: 750
  @if $type == t
    $base-width: 1024
  @else if $type == d
    $base-width: 1920
  //@debug $type + ':' + ($px/$base-width) * 100 + vw
  @return ($px/$base-width) * 100 + vw