//common
$common-screen-max-width-m: 750px
$common-screen-max-width-t: 1024px
$common-background-color: #0b0b0b;
// header
$nav-active-color: #43f3d0

// works

//group-footer
$grp-footer-background-color: #0b0b0b
$grp-footer-color: #fff
$grp-footer-date-color: rgba(255, 255, 255, 0.2)

// news


// twitter
$twitter-link-color: #55acee

//footer
$grp-footer-email-color: #43f3d0
$grp-footer-dribble-color: #e25087
