
/* =======================================
 	Grid System CSS v1.0 - Static
 # width : 1920px
 # columns : 16
 # column width : 120px
 # margin : 0px
 # gutter : 0px
========================================== */

.container {
 position: relative;
 width: 1920px;
 margin-left: auto;
 margin-right: auto;
}
.container[class*='show-'] {
 position: relative;
}
.container[class*='show-']::before {
 content: '';
 position: absolute;
 z-index: 1000;
 top: 0;
 min-height: 100vh;
 width: 100%;
}
.container.show-baseline::before {
 background-image: linear-gradient(transparent 9px, #7400ff 9px);
 background-size: 1px 10px;
}

.container.show-columns::before {
 background-image: linear-gradient(90deg, transparent 0px, hsla(190, 84%, 59%, 0.5) 0px, hsla(163, 64%, 49%, 0.2) 120px, transparent 120px, transparent 120px, hsla(190, 84%, 59%, 0.5) 120px, hsla(163, 64%, 49%, 0.2) 240px, transparent 240px, transparent 240px, hsla(190, 84%, 59%, 0.5) 240px, hsla(163, 64%, 49%, 0.2) 360px, transparent 360px, transparent 360px, hsla(190, 84%, 59%, 0.5) 360px, hsla(163, 64%, 49%, 0.2) 480px, transparent 480px, transparent 480px, hsla(190, 84%, 59%, 0.5) 480px, hsla(163, 64%, 49%, 0.2) 600px, transparent 600px, transparent 600px, hsla(190, 84%, 59%, 0.5) 600px, hsla(163, 64%, 49%, 0.2) 720px, transparent 720px, transparent 720px, hsla(190, 84%, 59%, 0.5) 720px, hsla(163, 64%, 49%, 0.2) 840px, transparent 840px, transparent 840px, hsla(190, 84%, 59%, 0.5) 840px, hsla(163, 64%, 49%, 0.2) 960px, transparent 960px, transparent 960px, hsla(190, 84%, 59%, 0.5) 960px, hsla(163, 64%, 49%, 0.2) 1080px, transparent 1080px, transparent 1080px, hsla(190, 84%, 59%, 0.5) 1080px, hsla(163, 64%, 49%, 0.2) 1200px, transparent 1200px, transparent 1200px, hsla(190, 84%, 59%, 0.5) 1200px, hsla(163, 64%, 49%, 0.2) 1320px, transparent 1320px, transparent 1320px, hsla(190, 84%, 59%, 0.5) 1320px, hsla(163, 64%, 49%, 0.2) 1440px, transparent 1440px, transparent 1440px, hsla(190, 84%, 59%, 0.5) 1440px, hsla(163, 64%, 49%, 0.2) 1560px, transparent 1560px, transparent 1560px, hsla(190, 84%, 59%, 0.5) 1560px, hsla(163, 64%, 49%, 0.2) 1680px, transparent 1680px, transparent 1680px, hsla(190, 84%, 59%, 0.5) 1680px, hsla(163, 64%, 49%, 0.2) 1800px, transparent 1800px, transparent 1800px, hsla(190, 84%, 59%, 0.5) 1800px, hsla(163, 64%, 49%, 0.2) 1920px, transparent 1920px, transparent 1920px, transparent 1920px);
 background-size: 1920px 1px;
}

.container.show-grid::before {
 background: linear-gradient(transparent 9px, #7400ff 9px)
 ,linear-gradient(90deg, transparent 0px, hsla(190, 84%, 59%, 0.5) 0px, hsla(163, 64%, 49%, 0.2) 120px, transparent 120px, transparent 120px, hsla(190, 84%, 59%, 0.5) 120px, hsla(163, 64%, 49%, 0.2) 240px, transparent 240px, transparent 240px, hsla(190, 84%, 59%, 0.5) 240px, hsla(163, 64%, 49%, 0.2) 360px, transparent 360px, transparent 360px, hsla(190, 84%, 59%, 0.5) 360px, hsla(163, 64%, 49%, 0.2) 480px, transparent 480px, transparent 480px, hsla(190, 84%, 59%, 0.5) 480px, hsla(163, 64%, 49%, 0.2) 600px, transparent 600px, transparent 600px, hsla(190, 84%, 59%, 0.5) 600px, hsla(163, 64%, 49%, 0.2) 720px, transparent 720px, transparent 720px, hsla(190, 84%, 59%, 0.5) 720px, hsla(163, 64%, 49%, 0.2) 840px, transparent 840px, transparent 840px, hsla(190, 84%, 59%, 0.5) 840px, hsla(163, 64%, 49%, 0.2) 960px, transparent 960px, transparent 960px, hsla(190, 84%, 59%, 0.5) 960px, hsla(163, 64%, 49%, 0.2) 1080px, transparent 1080px, transparent 1080px, hsla(190, 84%, 59%, 0.5) 1080px, hsla(163, 64%, 49%, 0.2) 1200px, transparent 1200px, transparent 1200px, hsla(190, 84%, 59%, 0.5) 1200px, hsla(163, 64%, 49%, 0.2) 1320px, transparent 1320px, transparent 1320px, hsla(190, 84%, 59%, 0.5) 1320px, hsla(163, 64%, 49%, 0.2) 1440px, transparent 1440px, transparent 1440px, hsla(190, 84%, 59%, 0.5) 1440px, hsla(163, 64%, 49%, 0.2) 1560px, transparent 1560px, transparent 1560px, hsla(190, 84%, 59%, 0.5) 1560px, hsla(163, 64%, 49%, 0.2) 1680px, transparent 1680px, transparent 1680px, hsla(190, 84%, 59%, 0.5) 1680px, hsla(163, 64%, 49%, 0.2) 1800px, transparent 1800px, transparent 1800px, hsla(190, 84%, 59%, 0.5) 1800px, hsla(163, 64%, 49%, 0.2) 1920px, transparent 1920px, transparent 1920px, transparent 1920px);
 background-size: 1px 10px, 1920px 1px;
}

.row {
 margin-left: 0px;
 margin-right: 0px;
}

.row::after {
 content: '';
 display: block;
 clear: both;
}

.row div[class*='col-'] {
 box-sizing: border-box;
 float: left;
}

[class*='col-']:not(:last-child) {
  margin-right: 0px;
}

.col-1 { width: 120px; }
.col-2 { width: 240px; }
.col-3 { width: 360px; }
.col-4 { width: 480px; }
.col-5 { width: 600px; }
.col-6 { width: 720px; }
.col-7 { width: 840px; }
.col-8 { width: 960px; }
.col-9 { width: 1080px; }
.col-10 { width: 1200px; }
.col-11 { width: 1320px; }
.col-12 { width: 1440px; }
.col-13 { width: 1560px; }
.col-14 { width: 1680px; }
.col-15 { width: 1800px; }
.col-16 { width: 1920px; }