@charset "utf-8";
@import url(font.css);

html,body,div,h2,form,fieldset,button,p{
	margin: 0;
	padding: 0;
}
html{
	font-size: 0.625em;
}
body{
	background: #fff;
	font-size: 1em;
	font-family: 'VarelaRound Regular';
}
.readable-hidden{
	overflow:hidden;
	margin: -1px;
	padding: 0;
  border: 0;
	width: 1px;
	height: 1px;
}
.wrapper{
	width: 100%;
	padding: 2em;
}
.signup,
.social-connect,
.back-area{
	width: 36rem;
	margin:0 auto;
	box-sizing: border-box;
} 
.signup{
	position: relative;
	padding-top: 1.8em;
}
.signup .subject{
	font-weight: normal;
	font-size: 1.8em;
	text-align: center;
}
.btn-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 8px;
	border: 0;
	padding-top: 0.8rem;
	overflow: hidden;
	background: url(../images/btn-close.png) no-repeat 0 0;
}
.signup form{
	margin-top: 0.2em;
	padding-left: 6em;
}
.signup fieldset{
	border: 0;
}
.signup div{
	margin-top: 2.1rem;
	height: 5.1rem;
}
.signup label{
	display: block;
	padding-left: 1.1rem;
	font-size: 1.2em;
}
.signup input{
	box-sizing: border-box;
	margin-top: 7px;
	width: 24rem;
	height: 3rem;
	border: 0;
	border-radius: 1.5rem;
	background: #f6f6f6;
	font-size: 1.4rem;
	padding: 0.9rem 2rem;
}
.btn_create_account{
	display: block;
	position: relative;
	left: 4rem;
	margin-top: 2.1rem;
	width: 16rem;
	height: 3rem;
	border: 0;
	border-radius: 1.5rem;
	background: #1f4ba5;
	color: #fff;
}
.social-connect{
	margin-top: 2.7rem;
	padding: 0 6rem;
	overflow: hidden;
}
.social-connect-describe{
	font-size: 0.9rem;
	font-family: 'PT Serif Italic';
	color: #8e8e8e;
	text-align: center;
}
.social-connect-btn{
	overflow: hidden;
	margin-top: 2rem;
}
.social-connect-btn button{
	width: 11.5rem;
	height: 3rem;
	border: 0;
	padding-top: 3rem;
	background-size: contain;
}
.btn-facebook-connect{
	float: left;
	background: url(../images/btn-social-facebook.png) no-repeat 0 0;
}
.btn-twitter-connect{
	float: right;
	background: url(../images/btn-social-twitter.png) no-repeat 0 0;
}
.back-area{
	margin-top: 3rem;
	border-top: 1px solid #ececec;
	text-align: center;
}
.back-area a{
	display: inline-block;
	margin-top: 1.8rem;
	font-size: 1.2rem;
	text-decoration: none;
}
.back-area a::before{
	content: "";
	display: inline-block;
	padding-right: 1rem;
	width: 1rem;
	height: 0.8rem;
	background: url(../images/btn-goback.png) no-repeat 0 0;
	background-size: contain;
}