
/* =======================================
  Grid System CSS v1.0 - Static
 # width : 960px
 # columns : 8
 # margin : 10px
 # gutter : 20px
========================================== */

.container {
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.container[class*='show-'] {
  position: relative;
}
.container[class*='show-']::before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  min-height: 100vh;
  width: 100%;
}
.container.show-baseline::before {
background-image: linear-gradient(transparent 9px, #7400ff 9px);
background-size: 1px 10px; }

.container.show-columns::before {
background-image: linear-gradient(90deg, transparent 10px, hsla(190, 84%, 59%, 0.5) 10px, hsla(163, 64%, 49%, 0.2) 110px, transparent 110px, transparent 130px, hsla(190, 84%, 59%, 0.5) 130px, hsla(163, 64%, 49%, 0.2) 230px, transparent 230px, transparent 250px, hsla(190, 84%, 59%, 0.5) 250px, hsla(163, 64%, 49%, 0.2) 350px, transparent 350px, transparent 370px, hsla(190, 84%, 59%, 0.5) 370px, hsla(163, 64%, 49%, 0.2) 470px, transparent 470px, transparent 490px, hsla(190, 84%, 59%, 0.5) 490px, hsla(163, 64%, 49%, 0.2) 590px, transparent 590px, transparent 610px, hsla(190, 84%, 59%, 0.5) 610px, hsla(163, 64%, 49%, 0.2) 710px, transparent 710px, transparent 730px, hsla(190, 84%, 59%, 0.5) 730px, hsla(163, 64%, 49%, 0.2) 830px, transparent 830px, transparent 850px, hsla(190, 84%, 59%, 0.5) 850px, hsla(163, 64%, 49%, 0.2) 950px, transparent 950px, transparent 970px, transparent 950px);
background-size: 960px 1px; }

.container.show-grid::before {
background: linear-gradient(transparent 9px, #7400ff 9px)
, linear-gradient(90deg, transparent 10px, hsla(190, 84%, 59%, 0.5) 10px, hsla(163, 64%, 49%, 0.2) 110px, transparent 110px, transparent 130px, hsla(190, 84%, 59%, 0.5) 130px, hsla(163, 64%, 49%, 0.2) 230px, transparent 230px, transparent 250px, hsla(190, 84%, 59%, 0.5) 250px, hsla(163, 64%, 49%, 0.2) 350px, transparent 350px, transparent 370px, hsla(190, 84%, 59%, 0.5) 370px, hsla(163, 64%, 49%, 0.2) 470px, transparent 470px, transparent 490px, hsla(190, 84%, 59%, 0.5) 490px, hsla(163, 64%, 49%, 0.2) 590px, transparent 590px, transparent 610px, hsla(190, 84%, 59%, 0.5) 610px, hsla(163, 64%, 49%, 0.2) 710px, transparent 710px, transparent 730px, hsla(190, 84%, 59%, 0.5) 730px, hsla(163, 64%, 49%, 0.2) 830px, transparent 830px, transparent 850px, hsla(190, 84%, 59%, 0.5) 850px, hsla(163, 64%, 49%, 0.2) 950px, transparent 950px, transparent 970px, transparent 950px);
background-size: 1px 10px, 960px 1px; }

.row {
  padding-left: 10px;
  padding-right: 10px; 
}

.row::after {
content: '';
display: block;
clear: both; }

.row div[class*='col-'] {
  background-clip: content-box;
  float: left; 
}


/***********************
 *  column 모듈 
*/

/* 오른쪽 일괄거터 */
[class*='col-']:not(:last-child) {
  padding-right: 20px;  
}

.col-1 { width: 100px; }
.col-2 { width: 220px; }
.col-3 { width: 340px; }
.col-4 { width: 460px; }
.col-5 { width: 580px; }
.col-6 { width: 700px; }
.col-7 { width: 820px; }
.col-8 { width: 940px; }


/***********************
 *  offset 모듈 
*/
[class*='push-'],
[class*='pull-'] {
  position: relative; 
}

.push-1  { left: 120px;  }
.push-2  { left: 240px;  }
.push-3  { left: 360px;  }
.push-4  { left: 480px;  }
.push-5  { left: 600px;  }
.push-6  { left: 720px;  }
.push-7  { left: 840px;  }
.push-8  { left: 960px;  }

.pull-1  { right: 120px;  }
.pull-2  { right: 240px;  }
.pull-3  { right: 360px;  }
.pull-4  { right: 480px;  }
.pull-5  { right: 600px;  }
.pull-6  { right: 720px;  }
.pull-7  { right: 840px;  }
.pull-8  { right: 960px;  }

/***********************
 *  offset 모듈 
*/
.prefix-1  { margin-left: 120px;  }
.prefix-2  { margin-left: 240px;  }
.prefix-3  { margin-left: 360px;  }
.prefix-4  { margin-left: 480px;  }
.prefix-5  { margin-left: 600px;  }
.prefix-6  { margin-left: 720px;  }
.prefix-7  { margin-left: 840px;  }
.prefix-8  { margin-left: 960px;  }

.suffix-1  { margin-right: 120px;  }
.suffix-2  { margin-right: 240px;  }
.suffix-3  { margin-right: 360px;  }
.suffix-4  { margin-right: 480px;  }
.suffix-5  { margin-right: 600px;  }
.suffix-6  { margin-right: 720px;  }
.suffix-7  { margin-right: 840px;  }
.suffix-8  { margin-right: 960px;  }

/***********************
 *  isolate 모듈 
*/
.row.isolate [class*='col-'] {
  margin-right: -100%; 
}
.row.isolate .o1  { margin-left: 0px;  }
.row.isolate .o2  { margin-left: 120px;  }
.row.isolate .o3  { margin-left: 240px;  }
.row.isolate .o4  { margin-left: 360px;  }
.row.isolate .o5  { margin-left: 480px;  }
.row.isolate .o6  { margin-left: 600px;  }
.row.isolate .o7  { margin-left: 720px;  }
.row.isolate .o8  { margin-left: 840px;  }