		body {
 
		}
		.container {
			
		}
		.header {
			background: #FFD9D9;
			position: fixed;
			top: 0;
			left: 0;
			width: 1920px;
			height: 400px;
		}
		.grid-view {
		  background: #B6EFFD; 
		  margin-top: 400px;
			width: 2000px;
			height: 300px;
		}
		.footer {
			background: #FCE5A6;
			position: fixed;
			bottom: 0;
			width: 1920px;
			height: 200px;
		}