

html {
	font-size: 0.625rem;
}

body {
	margin: 5rem;
	font-size: 2rem;
}

input[id*="txt_"] {
	background: #E9E9E9;
	margin-top: 1rem;
	padding-right: 1rem;
	width: 10rem;
	height: 3.5rem;
	text-align: right;
	border-radius: 0.5rem;
}
textarea {
	font-size: 8px;
	border: 1px solid #B2B2B2;
}