@charset "utf-8";

/******************/
/* 		reset		 		*/
body {
	margin: 0;
}
img {
	vertical-align: top;
}

/******************/
/* 		가이드		 		*/
.guide {
	background: url("../images/leading-21.png");
	min-height: 100vh;
}


/******************/
/*  레이아웃 	  		*/
.container {
	width: 120rem;
	margin-left: auto;
	margin-right: auto;
}


/******************/
/* 타이포그래피	  		*/
body {
	/*font: 0.875rem/1.5 "Spoqa Han Sans", "Nanum Gothic", Dotum, Sans-Serif;*/
	font-size: 0.875rem;
	line-height: 1.3125rem;
	font: "Spoqa Han Sans", "Nanum Gothic", Dotum, Sans-Serif;
}
p {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	letter-spacing: -0.02em;
}

/******************/
/* 	제목 디자인 			*/
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	font-weight: 200;
	letter-spacing: -0.05em;
	color: #787f94;
}
h1, h2 {
	line-height: 3.9375rem;
}
h3, h4, h5, h6{
	line-height: 2.625rem;
}
h6 {  
	font-size: 0.875rem;
}
h5 {  
	font-size: 1.14887rem;  
}
h4 { 
	font-size: 1.50847rem; 
}
h3 { 
  font-size: 1.98062rem; 
}
h2 { 
  font-size: 2.60056rem; 
}
h1 {  
  font-size: 3.41454rem; 
}

/******************/
/* 	리스트 디자인 		*/
ul,
ul ul,
ol,
ol ol {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
ul,
ul p,
ol,
ol p {
	margin-top: 1.3125rem;
	letter-spacing: -0.01em;
	color: #787f94;
}
ul p, 
ol p {
	font-weight: 800;
}
ul ul,
ol ol {
	margin-top: 0;
}
ul p::before {
	content: "•";
	position: relative;
	top: -0.0625rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}
ul ul li::before {
	content: "\00b0";
	position: relative;
	top: 0.14325rem;
	margin-left: 0.9375rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}
ol {
	counter-reset: step1-counter;
}
ol ol {
	counter-reset: step2-counter;
}
ol li p {
	counter-increment: step1-counter;
}
ol ol li {
	counter-increment: step2-counter;
}
ol li p::before {
	content: counter(step1-counter) ".";
	position: relative;
	top: -0.0625rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}
ol ol li::before {
	content: counter(step2-counter) ".";
	position: relative;
	top: -0.0625rem;
	margin-left: 0.9375rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}
dl {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	width: 20rem;
}
dt {
	margin-top: 1.3125rem;
	margin-left: 0.9375rem; 
	letter-spacing: 0.01em;
	color: #44cb83;
}
dd {
	position: relative;
	margin-left: 2.375rem;
	height: 100%;
	letter-spacing: -0.02em;
	color: #586077;
	border-radius: 5px;
}
dd span{
	box-sizing: border-box;
	position: absolute;
	left: -0.625rem;
	margin-top: 0.4375rem;
	height: 69.05%;
	border: 0.0625rem solid #44cb83;
}