@charset "utf-8";

/******************/
/* 		reset		 		*/
html, body {
	margin: 0;
	padding: 0;
}
img {
	vertical-align: top;
}


/******************/
/* 		가이드		 		*/
.guide {
	background: url("../images/leading-21.png");
	min-height: 100vh;
}


/******************/
/* 		공통		 			*/
.clear-fix::after {
	content: "";
	display: block;
	clear: both;
} 


/******************/
/* 타이포그래피	  		*/
body {
	/*font: 0.875rem/1.5 "Spoqa Han Sans", "Nanum Gothic", Dotum, Sans-Serif;*/
	font-size: 0.875rem;
	line-height: 1.3125rem;
	font-family: "Spoqa Han Sans", "Nanum Gothic", Dotum, Sans-Serif;
}
p {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	letter-spacing: -0.02em;
}


/******************/
/*  레이아웃 	  		*/
.container {
	width: 120rem;
	margin-left: auto;
	margin-right: auto;
}
.container > div {
	float: left;
	margin-top: 5.25rem;
	width: 50rem;
}
.area-typography { 
	margin-left: 10rem;
}
.area-color {
	margin-left: 0; 
}
.area-list {
	background: powderblue;
}
.area-table {
	background: silver;
}

/* 각 영역의 상단제목 */
.area-title p {
	float: left;
	color: #7171ef;
	letter-spacing: 0;
}
.area-title .title{
	font-size: 1.5rem;
	font-weight: bold;
}  
.area-title .description {
	font-size: 0.75rem;
	margin-left: 1.1875rem;
} 

.content-typography {
	box-sizing: border-box;
	margin-top: 1.25rem;
	border-top: 1px solid #6b85f4;
	height: 39.375rem;
}
.content-typography div * {	
	float: left;
}
.content-typography div p {
	margin-right: 2.5rem;
	color: #7171ef;
	letter-spacing: 0;
}  
.parag-1 p,
.parag-2 p {
	padding-top: 1.3125rem;
}
.parag-3 p,
.parag-4 p,
.parag-5 p {
	padding-top: 0.625rem;
} 
.parag-p p:first-child {
	margin-top: 0;
	padding-bottom: 14.4375rem;
}
.parag-p p:last-child {
	float: none;
	width: 40.625rem;
	color: #000;
	letter-spacing: -0.02em;
}

/******************/
/* 	제목 디자인 			*/
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	font-weight: 200;
	letter-spacing: -0.05em;
	color: #787f94;
}
h1, h2 {
	line-height: 3.9375rem;
}
h3, h4, h5 {
	line-height: 2.625rem;
}
h6{
	line-height: 1.3125rem;
}
h6 {  
	font-size: 0.875rem;
}
h5 {  
	font-size: 1.14887rem;  
}
h4 {  
	font-size: 1.50847rem; 
}
h3 { 
  font-size: 1.98062rem; 
}
h2 { 
  font-size: 2.60056rem; 
}
h1 {  
  font-size: 3.41454rem; 
}


/******************/
/* 	컬러  디자인 		*/
.content-color {
	margin-top: 1.25rem;
	border-top: 1px solid #6b85f4;
	height: 39.375rem;
}
.content-color ul {
	margin-top: 2.625rem;
}
.content-color li {
	float: left;
	margin-right: 1.875rem;
	font-family: "Helvetica"; 
}
.content-color li p {
	margin-top: 0;
	color: #fff;
	font-weight: 400;
	letter-spacing: 0;
}
.content-color li > p {
	margin-top: 0.625rem;
	font-size: 0.75rem;
	color: #000;
	line-height: 0.875rem;
}

.color-box {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	width: 6.25rem;
	height: 6.25rem;
}
.color-box.type1 {
	background: #787F94;	
}
.color-box.type2 {
	background: #7171EF;	
}
.color-box.type3 {
	background: #44CB83;	
}
.color-box.type4 {
	background: #63A2FC;	
}
.color-box.type5 {
	background: #FF5448;	
}
.color-box.type6{
	background: #FCB409;	
}


/******************/
/* 	리스트 디자인 		*/
ul,
ul ul,
ol,
ol ol {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
ul,
ul p,
ol,
ol p {
	margin-top: 1.3125rem;
	letter-spacing: -0.01em;
	/*color: #787f94;*/
}
ul p, 
ol p {
	font-weight: 800;
}
ul ul,
ol ol {
	margin-top: 0;
}
/*
  •  "\2022"
  ◦  "\25E6"
  ▪  "\25AA"
*/
ul p::before {
	content: "\2022";
	position: relative;
	top: -0.0625rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}
ul li li::before {
	content: "\25E6";
	position: relative;
	top: 0.14325rem;
	margin-left: 0.9375rem;
	padding-right: 0.62399rem;
	color: #44cb83;
}

/*   */
ol {
	counter-reset: step-counter1;
}
ol ol {
	counter-reset: step-counter2;
}
ol li p {
	counter-increment: step-counter1;
}
ol ol li {
	counter-increment: step-counter2;
}

ol li p:before,
ol li p::before,
ol ol li:before,
ol ol li::before {
	position: relative;
	top: -0.0625rem;
	color: #44cb83;
	padding-right: 0.62399rem;
}
ol li p:before,
ol li p::before {
	content: counter(step-counter1) ".";
}
ol ol li:before,
ol ol li::before {
	content: counter(step-counter2) ".";
	margin-left: 0.9375rem;
}
dl {
	margin-top: 1.3125rem;
	margin-bottom: 0;
	width: 20rem;
}
dt {
	margin-top: 1.3125rem;
	margin-left: 0.9375rem; 
	letter-spacing: 0.01em;
	color: #44cb83;
}
dd {
	position: relative;
	margin-left: 2.375rem;
	letter-spacing: -0.02em;
	color: #586077;
}
dd::before {
	content: "";
	position: absolute;
	top: 0.4375rem;
	bottom: 0.4375rem;
	left: -0.625rem;
	/*height: 100%;*/
	border: 0.0625rem solid #44cb83;
} 
