@charset "utf-8";

html, body, ul, li {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}

html {
	font-size: 0.625rem;
}
body {
	color: #19363f;
	font-size: 1em;
	font-family: 'Noto Sans Regular';
}

a {
	text-decoration: none;
}
a:link,
a:visited { 
	color: #19363f; 
}
a:focus,
a:hover { 
	color: #19363f; 
	border-bottom: 1px solid #59767F; 
}

.wrapper {
	background: #fff url(../images/bg-ocean.jpg) no-repeat 85% 100% fixed;
	background-size: cover;
}
.content {
	background: rgba(255, 255, 255, 0.7);
	margin-left: 200px;
	padding: 2rem;
	width: 55rem;
	font-size: 1.4rem;
}
.content-resume-head {
	margin-top: 3rem;
	text-align: center; 
}
.content-resume-head img{
	margin-bottom: 2rem;
}
.content h2 {
	box-sizing: border-box;
	margin-top: 5rem;
	margin-bottom: 1rem;
	padding-top: 4rem;
	border-top: 2px solid #B0B0B0;
	font-family: 'Noto Sans Black';
	font-size: 4rem;
	letter-spacing: -0.3rem;
}
.content h2:nth-of-type(1) {
	border-top: 0;
}
.content > p {
	margin-top: 0;
	margin-bottom: 0;
}
.content-resume-profile,
.content-resume-works {
	margin-left: 3rem;
}
.content-resume-profile li:before, 
.content-resume-profile li::before,
.content-resume-works li:before, 
.content-resume-works li::before {
		content: "-";
		padding-right: 0.5em;
}
.content-skill {
	position: relative;
	margin-top: 2rem;
	margin-left: 2rem;
	width: 51rem;
	border-left: 1px solid #545454;
	border-bottom: 1px solid #545454;
}
.content-skill-graph { 
	padding: 2rem 0 2rem 0;
}
.content-skill-graph li{
	position: relative;
	margin-top: 1rem;
	width: 50rem;
	height: 3rem;
	font-size: 1.2rem;
	line-height: 3rem;
	text-indent: 1em;
	z-index: 0;
}
.content-skill-graph li::after {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	left: 0;
	transition: all 0.4s;
	z-index: -1;
}
.skill-html:hover::after {
	background: #1b4381;
	right: 80%;
}
.skill-css:hover::after {
	background: #efa626;
	right: 85%;
}
.skill-js:hover::after {
	background: #99bd37;
	right: 70%;
}
.skill-ps:hover::after {
	background: #2daae4;
	right: 90%;
}

